code {
  background: #f7f4f3;
  border-radius: 2px;
  color: #716f6e;
  font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
  padding: 2px 4px;
  border-radius: 4px;
}

.custom-code, .custom-code code {
  background: #282a36;
  color: #868d9a;
  font-family:
    Consolas,
    Lucida Console,
    Menlo,
    Monaco,
    monospace;
  padding: 2px 4px;
}

.ol-list {
  margin-left:  19px;
}

ol.ol-list li::marker {
  font-weight: 700;
}
